/*
= FUNCTIONS
------------------------------------------------------------------------------------- */

	@function p($pixels) {
		$designWidth: 1920;
		$result: calc($pixels * 100 / $designWidth) * 1vw;
		@return $result;
	}

	@function m($pixels) {
		$designWidth: 1920;
		$result: calc(2560 / $designWidth) * $pixels * 1px;
		@return $result;
	}