/*
GLOBAL STYLES
-------------------------------------------- */
html {
	overflow-x: hidden;
}

body {
	overflow-x: hidden; position: relative;
	-webkit-overflow-scrolling: touch;
}

strong{
	font-weight: bold;
}

.has_bgr{
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

#main{
    padding-top: p(71);

    @include breakpoint(max){
        padding-top: m(71);
    }

    @include breakpoint(640){
        padding-top: 45px;
    }
}

.clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

img{
    max-width: 100%; height: auto;
}

em, i{
    font-style: italic;
}

.wrapper{
    padding: 0 p(20) 0 p(20);
    @include box-sizing();

    @include breakpoint(max){
        padding: 0 m(20) 0 m(20);
    }

    @include breakpoint(640){
        padding: 0 10px;
    }
}

// anim_x_m - animate x minus
.animated{
    @include transition(all, 2s, 0.2s, ease);
    opacity: 0;

    &.anim_x_m{
        @include transform($x: -50px);
    }
    &.anim_x{
        @include transform($x: 50px);
    }
    &.anim_y{
        @include transform($y: 50px);
    }
    &.anim_y_m{
        @include transform($y: -50px);
    }
    &.in_view{
        opacity: 1;
        @include transform();
    }   
    &.show_onload{
        opacity: 1;
        @include transform();
    }
}

.loading_holder{
    z-index: 99999;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: $white;
    opacity: 1;
    &.finished{
        @include transition(all, 0.3s, 0s, ease);
        opacity: 0;
        pointer-events: none;
    }
}