/*
FORMS GLOBAL
-------------------------------------------- */

form{
    position: relative;
    width: p(1000);
    margin: 0 auto p(30) auto;

    @include breakpoint(max){
        width: m(1000);
        margin: 0 auto m(30) auto;
    }

    @include breakpoint(640){
        margin-bottom: 25px;
    }

    input{

        &.text_field{
            width: 100%;
            padding: p(20) p(30);
            font-size: p(20);
            @include box-sizing();
            border: none;
            border-radius: 30px; 
            box-shadow: none;
            outline: none;
            appearance: none;

            @include breakpoint(max){
                padding: m(20) m(30);
                font-size: m(20);
            }

            @include breakpoint(640){
                font-size: 18px; line-height: 1;
                padding: 5px 15px;    
                height: 42px;
            }
        }

        &.search_icon{
            display: none;
        }
    }

    .search_icon{
        position: absolute;
        top: 50%; right: p(20);
        @include transform($y: -50%);
        cursor: pointer;

        @include breakpoint(max){
            right: m(20);
        }

        @include breakpoint(640){
            right: 10px;
        }

        svg{
            width: p(20); height: p(20);
            fill: $blue;

            @include breakpoint(max){
                width: m(20); height: m(20);
            }

            @include breakpoint(640){
                width: 15px; height: 15px;
            }
        }
    }

    &.wpcf7-form {
        background-color: $bgr-color;
        ul{
            @include flexbox();
            @include justify(space-between);
            flex-wrap: wrap;

            li{
                width: 100%;
                margin-bottom: p(50);

                @include breakpoint(max){
                    margin-bottom: m(50);
                }

                &.half{
                    width: 48%;

                    @include breakpoint(640){
                        width: 100%;
                    }
                }

                label, span, textarea{
                    display: block;
                    width: 100%;
                }

                span{
                    margin-top: p(15);

                    @include breakpoint(max){
                        margin-top: m(15);
                    }
                }

                textarea, input{
                    display: block;
                    width: 100%;
                    padding: p(13) p(20);
                    font-size: p(20);
                    @include box-sizing();
                    border: none;
                    border-radius: 30px; 
                    box-shadow: none;
                    outline: none;
                    appearance: none;
        
                    @include breakpoint(max){
                        padding: m(20) m(30);
                        font-size: m(20);
                    }

                    @include breakpoint(768){
                        padding: 20px; font-size: 20px;
                    }

                    @include breakpoint(640){
                        font-size: 18px; line-height: 1;
                        padding: 5px 15px;    
                        height: 42px;
                    }
                }

                textarea{
                    height: p(180);

                    @include breakpoint(max){
                        height: m(180);
                    }

                    @include breakpoint(640){
                        height: 80px;
                    }
                }
                
                .btn{
                    cursor: pointer;
                    border: none;
                    outline: none;
                }

                &.btn_holder{
                    margin-bottom: p(20);

                    @include breakpoint(max){
                        margin-bottom: m(20);
                    }

                    p{
                        text-align: center;
                    }
                }

                &.additional_info{
                    text-align: center;
                    margin-bottom: 0;
                }
            }
        }
        .wpcf7-not-valid-tip{
            font-size: p(16);
            padding-left: p(12);

            @include breakpoint(max){
                font-size: m(16);
                padding-left: m(12);
            }
        }

        .wpcf7-response-output{
            font-size: p(16);
            font-family: Helvetica, Arial, sans-serif;

            @include breakpoint(max){
                font-size: m(16);
            }
        }
    }
}

.custom-forms{
    
    form{
        @include flexbox();
        flex-wrap: wrap;
        @include justify(space-between);
        position: relative;
        width: p(1400);
        padding: p(60);
        @include box-sizing();
        border-radius: 30px;
        background-color: $bgr-color;
    
        @include breakpoint(max){
            width: m(1000);
            padding: m(60);
        }
    
        @include breakpoint(768){
            width: 100%;
            padding: 30px 50px
        }
    
        @include breakpoint(640){
            padding: 30px 20px;
        }

        p{
            position: relative;
            width: 100%;
            margin-bottom: p(50);

            @include breakpoint(max){
                margin-bottom: m(50);
            }

            &.half{
                width: 48%;

                @include breakpoint(640){
                    width: 100%;
                }
            }
        
            .error-message{
                display: inline-block;
                position: relative;
                margin-top: p(5);

                @include breakpoint(max){
                    margin-top: m(5);
                }
                // position: absolute;
                // bottom: p(-30);

                // @include breakpoint(max){
                //     bottom: m(-30);
                // }
            }
        }

        textarea, input, select{
            display: block;
            width: 100%;
            padding: p(13) p(20);
            font-size: p(20);
            @include box-sizing();
            border: none;
            border-radius: 30px; 
            box-shadow: none;
            outline: none;
            appearance: none;
            margin-top: p(15);

            @include breakpoint(max){
                padding: m(20) m(30);
                font-size: m(20);
                margin-top: m(15);
            }

            @include breakpoint(768){
                padding: 20px; font-size: 20px;
            }

            @include breakpoint(640){
                font-size: 18px; line-height: 1;
                padding: 5px 15px;    
                height: 42px;
            }
        }

        select{
            appearance: auto;
            // background-color: #fff;
            // background-image: url('path/to/your/icon.svg'); /* Your custom icon */
            // background-repeat: no-repeat;
            // background-position: calc(100% - 20px) center;
        }

        textarea{
            height: p(180);

            @include breakpoint(max){
                height: m(180);
            }

            @include breakpoint(640){
                height: 80px;
            }
        }

        .btn-holder, .additional-text{
            text-align: center;
            margin-bottom: p(20);
        }

        .link{
            font-size: p(22); color: $blue; text-decoration: underline;

            @include breakpoint(max){
                font-size: m(22);
            }

            @include breakpoint(640){
                font-size: 22px;
            }
        }

        .additional-text{
            margin-bottom: 0;
        }

        .btn{
            display: inline-block;
            width: auto;
            cursor: pointer;
        }
    }

    &.login-form{
        form{
            width: p(600);
        }
    }

    .error-field {
        border: 2px solid red;
    }
    .error-message {
        color: red;
        font-size: 0.9em;
    }

}