/*
HERO
-------------------------------------------- */

.hero{
    margin-bottom: p(30);

    @include breakpoint(max){
        margin-bottom: m(30);
    }
    .holder{
        aspect-ratio: 16/6;
        position: relative;
        border-radius: 30px;
        overflow: hidden;

        article{
            position: absolute;
            color: $white;
            width: 80%;
            padding-left: p(60);

            @include breakpoint(max){
                padding-left: m(60);
            }
            
            h1{
                margin-bottom: p(40);

                @include breakpoint(max){
                    margin-bottom: m(40);
                }
            }
        }

        img{
            position: absolute;
            bottom: p(100);
            max-width: p(100);
            @include breakpoint(max){
                bottom: m(100);
                max-width: m(100);
            }
        }

        &.center{

            article{
                text-align: center;
                top: 50%; left: 50%;
                @include transform($x: -50%, $y: -50%);
            }

            img{
                top: 85%; left: 50%;
                @include transform($x: -50%, $y: -50%);
            }
        }

        &.left{
            @include flexbox();
            align-content: center;
            
            article{
                position: relative;
                @include flexbox();
                flex-wrap: wrap;
                align-content: center;

                h1{
                    width: 100%;
                }
            }

            img{
                left: p(60);

                @include breakpoint(max){
                    left: m(60);
                }
            }
        }
    }
}