.price_options{
    margin-bottom: p(30);

    @include breakpoint(max){
        margin-bottom: m(30);
    }

    .holder{
        position: relative;
        border-radius: 30px;
        padding: p(60) p(30) p(30) p(80);
        @include box-sizing();

        @include flexbox();
        @include justify(space-between);

        @include breakpoint(max){
            padding: m(60) m(30) m(30) m(80);
        }

        .big_num{
            h3{
                position: relative;
                font-size: p(120);

                @include breakpoint(max){
                    font-size: m(120);
                }

                span{
                    content: "";
                    width: 100%; height: 3px;
                    border-radius: 5px;
                    position: absolute;
                    bottom: p(-5); left: 50%;
                    @include transform($x: -50%);

                    @include breakpoint(max){
                        bottom: m(-5);
                    }
                }
            }
        }

        .card_content{
            position: relative;
            flex: 1;
            padding-left: p(30);
            padding-bottom: p(20);

            @include breakpoint(max){
                padding-left: m(30);
                padding-bottom: m(20);
            }

            .btn{
                position: absolute;
                bottom: 0; right: 0;
            }

            h3, .first_text{
                margin-bottom: p(20);

                @include breakpoint(max){
                    margin-bottom: m(20);
                }
            }

            .first_text{
                p{
                    margin-bottom: p(10);

                    @include breakpoint(max){
                        margin-bottom: m(10);
                    }

                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }

            .second_text{
                ul{
                    margin-top: p(20);

                    @include breakpoint(max){
                        margin-top: m(20);
                    }

                    li{
                        position: relative;
                        font-size: p(18);
                        margin-bottom: p(8);
                        padding-left: 20px;

                        @include breakpoint(max){
                            font-size: m(18);
                            margin-bottom: m(8);
                        }

                        &:before{
                            content: '';
                            position: absolute;
                            top: 50%; left: 0;
                            @include transform($y: -50%);
                            width: 8px; height: 1px;
                            background-color: $black;
                        }

                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        .note{
            width: 90%;
            border-radius: 30px;
            padding: p(20) p(10);
            @include box-sizing();
            position: absolute;
            bottom: p(40); left: 50%;
            @include transform($x: -50%, $y: 100%);
            text-align: center;

            .top_note, .bottom_note{
                margin-bottom: p(25);

                @include breakpoint(max){
                    margin-bottom: m(25);
                }
            }

            .bottom_note{
                line-height: 1.5;
            }
        }
    }

    &.noted{
        margin-bottom: p(250);

        @include breakpoint(max){
            margin-bottom: m(250);
        }
    
        .holder{
            padding-bottom: p(80);
    
            @include breakpoint(max){
                padding-bottom: m(80);
            }
        }
    }
}