.textual_section{
    margin: p(30) 0;

    @include breakpoint(max){
        margin: m(30) 0;
    }
    .holder{
        padding: p(60) p(320);
        @include box-sizing();
        border-radius: 30px;

        @include breakpoint(max){
            padding: m(60) m(320);
        }
    }
    article{
        text-align: justify;
        color: $blue;
        @include all-text{
            margin-bottom: p(20);
            line-height: 1.5;

            @include breakpoint(max){
                margin-bottom: m(20);
            }
        }
        .aligncenter{
            display: block;
            margin: 0 auto;
        }
        p{
            font-size: p(18); line-height: 2;

            @include breakpoint(max){
                font-size: m(18);
            }
        }
    }
}