
.title_text{
    padding: p(50) 0;

    @include breakpoint(max){
        padding: m(50) 0;
    }

    .holder{
        max-width: 40%;
        text-align: center;
        margin: 0 auto;

        h3, img{
            margin-bottom: p(30);
            @include breakpoint(max){
                margin-bottom: m(30);
            }
        }

        img{
            width: p(100);

            @include breakpoint(max){
                width: m(100);
            }
        }

        p{
            font-size: p(18);

            @include breakpoint(max){
                font-size: m(18);
            }
        }
    }
}