/*
FOOTER
-------------------------------------------- */

.pre_footer{
    .holder{
        position: relative;
        border-radius: 30px;
        overflow: hidden;
        aspect-ratio: 16/5;

        h3{
            color: $white;
            position: absolute;
            top: 50%;
            @include transform($y: -50%);
            padding-left: p(150);
            font-style: italic;

            @include breakpoint(max){
                padding-left: m(150);
            }
        }
    }
}

footer{
    padding-top: p(150);

    @include breakpoint(max){
        padding-top: m(150);
    }

    .holder{
        @include flexbox();
        align-items: center;
        flex-wrap: wrap;

        .copyright{
            width: 100%;
            text-align: center;
            margin: p(100) 0 p(60) 0;

            @include breakpoint(max){
                margin: m(100) 0 m(60) 0;
            }
        }
    }
}

footer, .more_info{

    .footer_logo, .phones, .emails{
        width: 20%;

    }   
    
    .phones, .emails{
        padding: 0 p(40);
        @include box-sizing(border-box);
        // border-left: 3px solid $blue;

        @include breakpoint(max){
            padding: 0 m(40);
        }

        .col_title{
            margin-bottom: p(20);
        }

        a{
            display: inline-block;
            color: $black;
            text-decoration: none;
            margin-bottom: p(20);

            @include breakpoint(max){
                margin-bottom: m(20);
            }

            &:last-child{
                margin-bottom: 0;
            }
        }
    }

    .emails{
        align-self: flex-start;
    }

    .footer_nav{
        flex: 1;

        .nav_holder{
            @include flexbox();
            @include justify(flex-end);
            flex-wrap: wrap;

            li{
                margin-right: p(30);

                @include breakpoint(max){
                    margin-right: m(30);
                }

                &:last-child{
                    margin-right: 0;
                }

                a{
                    color: $black;
                    text-decoration: none;
                }
            }
        }
    }
}