/*
HEADER
-------------------------------------------- */

header{
    position: fixed;
    top: 0; left: 0;
    padding: p(20) 0;
    width: 100%;
    background-color: $white;
    z-index: 999;

    @include breakpoint(max){
        padding: m(20) 0;
    }
    .holder{
        @include flexbox();
        @include justify(space-between);
        align-items: center;
        padding: 0 p(30);
        @include box-sizing();
        position: relative;

        @include breakpoint(max){
            padding: 0 m(30);
        }

        ul{
            @include flexbox();
            flex-wrap: wrap;

            @include breakpoint(1024){
                position: fixed;
                align-content: baseline;
                top: 0; right: 0;
                width: 300px; height: 100vh;
                @include transform($x: 100%);
                @include transition(all, 0.5s, 0s, cubic-bezier(0.250, 0.460, 0.450, 0.940));
            }

            li{
                margin-right: p(30);

                @include breakpoint(max){
                    margin-right: m(30);
                }

                @include breakpoint(1024){
                    width: 100%;
                    margin-bottom: 20px;
                    margin-right: 0;
                }

                &:last-child{
                    margin-right: 0;
                }

                &.current-menu-item{
                    a{
                        &:before{
                            width: 100%;
                        }
                    }
                }

                a{
                    text-decoration: none;
                    color: $blue;
                    font-size: p(12); font-weight: 600;
                    font-family: $font-montserrat;
                    position: relative;

                    @include breakpoint(max){
                        font-size: m(12);
                    }

                    @include breakpoint(1024){
                        font-size: 22px;
                    }

                    &:before{
                        content: "";
                        width: 0; height: 1px;
                        background-color: $blue;
                        position: absolute;
                        bottom: -1px; left: 0;
                        @include transition(all, 0.5s, 0s, cubic-bezier(0.250, 0.460, 0.450, 0.940));
                    }
        
                    &:hover{
                        &:before{
                            width: 100%;
                        }
                    }

                    @include breakpoint(max){
                        font-size: m(12);
                    }
                }

                &.search{
                    cursor: pointer;
                    svg{
                        width: p(16); height: p(16);
                        fill: $blue;

                        @include breakpoint(max){
                            width: m(16); height: m(16);
                        }
                    }
                }
                
                &.hide{
                    @include transition(all, 0.5s, 0s, cubic-bezier(0.250, 0.460, 0.450, 0.940));
                    opacity: 0; pointer-events: none;
                }
            }
        }

        .logo{
            a{
                display: inline-block;
            }
            img{
                width: p(300);

                @include breakpoint(max){
                    width: m(300);
                }

                @include breakpoint(1024){
                    width: 140px;
                }
            }
        }

    }

    .hamburger{
        display: none;
        width: 20px; height: 20px;


        @include breakpoint(1024){
            display: block;
        }
    }

    &.active{
        .holder{
            ul{
                @include transform();
            }
        }
    }
}

.aside_search_popup{
    position: absolute;
    top: -5px; right: 0;
    @include transform($x: 100%);
    opacity: 0;
    @include transition(all, 0.5s, 0s, cubic-bezier(0.250, 0.460, 0.450, 0.940));
    
    &.active{
        right: p(60);
        @include transform();
        opacity: 1;

        @include breakpoint(max){
            right: m(60);
        }
    }

    form{
        width: auto;
    }

    input{
        width: p(300); height: p(30);
        border: 0;
        border-bottom: 1px solid $blue;
        outline: none;
        font-size: p(14); font-weight: 600;
        font-family: $font-montserrat;
        padding: 0 5px 3px 5px;
        @include box-sizing();

        @include breakpoint(max){
            width: m(300); height: m(30);
            font-size: m(14);
        }
    }

    .exit_popup{
        width: p(30); height: p(30);
        position: absolute;
        top: 0; right: 0;
        cursor: pointer;

        &:after, &:before{
            content: "";
            height: 1px; width: 60%;
            background-color: $blue;
            position: absolute;
            top: 50%; left: 50%;
            @include transform($x: -50%, $y: -50%, $r: 45deg);
        }

        &:before{
            @include transform($x: -50%, $y: -50%, $r: -45deg);
        }
    }
}