/*
HEADER
-------------------------------------------- */

header{
    position: fixed;
    top: 0; left: 0;
    padding: p(20) 0;
    width: 100%;
    background-color: $white;
    z-index: 999;

    @include breakpoint(max){
        padding: m(20) 0;
    }
    .holder{
        @include flexbox();
        @include justify(space-between);
        align-items: center;
        padding: 0 p(30);
        @include box-sizing();

        @include breakpoint(max){
            padding: 0 m(30);
        }

        ul{
            @include flexbox();
            flex-wrap: wrap;

            li{
                margin-right: p(30);

                @include breakpoint(max){
                    margin-right: m(30);
                }

                &:last-child{
                    margin-right: 0;
                }

                a{
                    text-decoration: none;
                    color: $blue;
                    font-size: p(12); font-weight: 600;
                    font-family: $font-montserrat;

                    @include breakpoint(max){
                        font-size: m(12);
                    }
                }

                &.search{
                    svg{
                        width: p(16); height: p(16);
                        fill: $blue;

                        @include breakpoint(max){
                            width: m(16); height: m(16);
                        }
                    }
                }
            }
        }

        .logo{
            a{
                display: inline-block;
            }
            img{
                width: p(300);
            }
        }
    }
}