.single-memoriam-content{

    .inner-content{
        background-color: $bgr-color;
        padding: p(30);
        @include box-sizing();
        border-radius: 25px;
        overflow: hidden;

        @include breakpoint(max){
            padding: m(30);
        }

        @include breakpoint(640){
            padding: 15px 15px 0 15px;
        }
    }

    .row{
        @include flexbox();
        @include justify(space-between);
        gap: p(30);
        padding-bottom: p(30);
        flex-wrap: wrap;

        @include breakpoint(max){
            gap: m(30);
            padding-bottom: m(30);
        }

        @include breakpoint(1024){
            &.two-columns, &.three-columns, &.four-columns, &.five-columns{
                .card{
                    flex-basis: calc(50% - p(30));
                }
            }
            &.three-columns, &.five-columns{
                .card{
                    &:last-child{
                        flex-basis: 100%;
                    }
                }
            }
        }

        @include breakpoint(768){
            &.two-columns, &.three-columns, &.four-columns, &.five-columns{
                .card{
                    flex-basis: 100%;
                }
            }
        }

        @include breakpoint(640){
            gap: 0;
            margin-bottom: 15px;
        }

        &:last-child{
            padding-bottom: 0;
        }

        .card{
            position: relative;
            @include flexbox();
            flex-wrap: wrap;
            flex: 1;
            border-radius: 25px;
            overflow: hidden;
            background-color: $white;
            -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
            -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);

            @include breakpoint(768){
                flex-basis: 100%;
                margin-bottom: 15px;
            }

            div{
                width: 100%;
            }

            p{
                font-family: $font-libre;
                line-height: 1.5;
            }

            &.image-card{
                .memorials_image{
                    display: block;
                    width: 100%;
                    img{
                        display: block;
                        width: 100%; max-height: 70vh; object-fit: cover;
                    }
                }
                &.full-card-height{
                    .full-height-card-bottom{
                        position: absolute;
                        bottom: 0; left: 0;
                        width: 100%;
                        z-index: 1;
                        color: $white;
                    }
                }
            }

            &:last-child{
                @include breakpoint(768){
                    margin-bottom: 0;
                }
            }
        }

        .share-card{
    
            .share-content{
                opacity: 0; pointer-events: none;
                width: 97%;
                position: absolute;
                @include flexbox();
                @include justify(space-between);
                bottom: 1.5%; left: 1.5%;
                padding: 0 p(30);
                @include box-sizing();
                -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
                -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
                box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
                border-radius: 30px;
                @include transition(opacity 0.3s 0s ease);
                
                @include breakpoint(max){
                    padding: 0 m(30);
                }
            
                @include breakpoint(640){
                    width: 95%;
                    left: 10px; bottom: 5px;
                    padding: 0 20px;
                    background-color: $white;
                }
        
                p{
                    font-size: p(13); line-height: 3;
                    color: $num_color;
        
                    @include breakpoint(max){
                        font-size: m(13);
                    }
        
                    @include breakpoint(640){
                        font-size: 10px;
                    }

                    &.share-row{
                        @include flexbox();
                        align-items: center;    
                    }
                }

                .share-icon{
                    display: inline-block;
                    width: p(20); height: p(20);
                    margin-left: p(10);

                    @include breakpoint(max){
                        width: m(20); height: m(20);
                        margin-left: m(10);
                    }

                    @include breakpoint(640){
                        width: 15px; height: 15px;
                        margin-left: 10px;
                    }
                    svg{
                        display: block;
                        width: 100%; height: 100%;
                        fill: $num_color;
                        cursor: pointer;
                        @include transition(all, 0.3s, 0s, ease);

                    }
                }
            }

            .three-dots{
                position: absolute;
                bottom: 0; right: p(30);
                height: p(48);
                cursor: pointer;
                @include transition(opacity 0.3s 0s ease);
                
                @include breakpoint(max){
                    height: m(48); 
                    right: m(30);
                }

                @include breakpoint(1024){
                    height: m(30); 
                }

                @include breakpoint(640){
                    height: 40px;
                    right: 20px;
                }
                span{
                    display: inline-block;
                    width: 5px; height: 5px;
                    background-color: $num_color;
                    border-radius: 50%;
                    margin-right: 5px;
    
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }

            &.active{
                .share-content{
                    opacity: 1;
                    pointer-events: all;
                }
                .three-dots{
                    opacity: 0; 
                    pointer-events: none;
                }
            }
    
        }

        &.one-column{

        }

    }

    .card-bottom{
        width: 100%;
        padding: p(30) p(30) p(60) p(30);
        @include box-sizing();
        align-self: flex-end;

        @include breakpoint(max){
            padding: m(30) m(30) m(60) m(30);
        }

        @include breakpoint(640){
            padding: 20px;
        }
    }

    .quote-card, .text-card{
        padding: p(50) p(30) p(0) p(30);
        @include box-sizing();

        @include breakpoint(max){
            padding: m(50) m(30) m(0) m(30);
        }

        @include breakpoint(640){
            padding: 20px;
        }

        .card-bottom{
            padding-left: 0; padding-right: 0;

            @include breakpoint(640){
                padding: 40px 0 0 0;
            }
        }
    }
    
    .video-holder{
        video{
            width: 100%; height: auto;
            aspect-ratio: 16/5;
            object-fit: cover;

            @include breakpoint(640){
                aspect-ratio: 16/9;
            }
        }
    }

    .text-card{
        &.center{
            align-self: flex-end;
        }
    }

    .video-card, .image-card{
        .share-card{
            .share-content{
                width: 99%; left: 0.5%;
            }
        }
    }
}

.single-memorials {
    .hero {
        margin-bottom: 15px;
        .holder{
            @include breakpoint(640){
                min-height: 60vh;
            }
            &.left {
                article{
                    align-content: flex-end;
                    margin-bottom: p(30);

                    @include breakpoint(max){
                        margin-bottom: m(30);
                    }

                    @include breakpoint(640){
                        margin-bottom: 30px;
                    }
                    h5, p{
                        width: 100%;
                    }
                    p{
                        font-family: $font-libre;
                        font-style: italic;
                        margin-bottom: p(30);

                        @include breakpoint(max){
                            margin-bottom: m(30);
                        }

                        @include breakpoint(640){
                            margin-bottom: 25px;
                        }
                    }
                    h5{
                        margin-bottom: p(40);

                        @include breakpoint(max){
                            margin-bottom: m(40);
                        }

                        @include breakpoint(640){
                            margin-bottom: 30px;
                        }
                    }
                    img{
                        position: relative;
                        top: auto; left: auto; right: auto; bottom: auto;
                    }
                }
            }
            img{
                @include breakpoint(640){
                    margin: 0;
                }
            }
            h5{
                @include breakpoint(640){
                    font-size: 18px;
                }
            }
        }
    }
}